body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.uploaded-img__wrapper {
  margin: 0 auto;
  max-width: 420px;
  width: 100%;
  height: auto;
  outline: 1px solid violet;
  vertical-align: top;
  line-height: 0;
}

.uploaded-img__wrapper:empty {
  display: none;
}

.uploaded-img__img {
  width: 100%;
  height: auto;
}

.recognized-text__wrapper {
  margin: 0 auto;
  max-width: 420px;
  width: 100%;
  height: auto;
}

.recognized-text__wrapper p {
  white-space: pre;
}

.recognized-text__wrapper .recognized-text__paragraph--clean {
  white-space: normal;
}
